@using Syring1.Areas.Admin.ViewModels.HomeMedicalCenter
@model HomeMedicalCenterIndexViewModel


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Home Medical Center</h4>
                        @*<a class="btn btn-primary" asp-action="create" asp-controller="homemedicalcenter" asp-area="admin">CREATE homemedicalcenter</a>*@
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Skill</th>
                                        <th>Photo</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        @if (Model.HomeMedicalCenter == null)
                                        {

                                            <a class="btn btn-primary" asp-action="create" asp-controller="homemedicalcenter" asp-area="admin">CREATE Home medical center</a>

                                        }
                                        else
                                        {
                                            <tr>
                                                <td>@Model.HomeMedicalCenter.Id</td>
                                                <td>@Model.HomeMedicalCenter.Title</td>
                                                <td>@Model.HomeMedicalCenter.Description</td>
                                                <td>@Model.HomeMedicalCenter.Skill</td>
                                                <td><img src="~/assets/img/@Model.HomeMedicalCenter.PhotoPath" /></td>
                                                <td>
                                                    <a class="btn btn-primary" asp-action="update" asp-controller="homemedicalcenter" asp-area="admin" asp-route-id="@Model.HomeMedicalCenter.Id">Update</a>
                                                    <a class="btn btn-danger" onclick="confirm('Eminsinizmi?')" asp-action="delete" asp-controller="homemedicalcenter" asp-area="admin" asp-route-id="@Model.HomeMedicalCenter.Id">Delete</a>
                                                    <a class="btn btn-info" asp-action="details" asp-controller="homemedicalcenter" asp-area="admin" asp-route-id="@Model.HomeMedicalCenter.Id">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

