@using Syring1.ViewModels.Doctor
@model DoctorIndexViewModel


@Model.Page
@Model.PageCount
@Model.Take

<!-- main starts -->
<main>
    <!-- main-frame section starts -->
    <section class="main-frame-2 no-select" style="background-image: url(~/assets/img/doctor-page-title.jpg);">
        <div class="container">
            <div class="row main-frame-2-title align-items-center">
                <div class="col-md-6 main-frame-2-title-text">Find A Doctor</div>
                <div class="col-md-6 text-md-right main-frame-2-title-breadcrumb">Home / Find A Doctor</div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <!-- main-frame section ends -->
    <!-- find-doctor section starts -->
    <section class="find-doctor no-select">
        <div class="section-left-color"></div>
        <div class="section-right-color"></div>
        <div class="container">


            <div class="row">

                <form method="get" asp-action="index" asp-controller="doctor">
                    <div class="col-sm-12 col-lg-8 find-doctor-left">
                        <div class="search-doctor">
                            <p class="search-doctor-title">
                                Find the Doctor
                            </p>
                            <span class="line"></span>
                            <div class="search-doctor-content">
                                <div style="width:200px" class="search-doctor-content-wrapper">

                                    <div class="form-group">
                                        <label asp-for="FullName"></label>
                                        <input style="width: 200px" asp-for="FullName" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info">
                                            Search
                                        </button>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="col-sm-12 col-lg-8 find-doctor-right">
                    <p class="associated-doctor-title">
                        Associated Doctors in Syring.
                    </p>
                    <p class="associated-description">
                        Expert physician specialists and caring clinical staff provide you with an exceptional
                        patient care is what sets Syring Medical Center apaert health care experience.
                    </p>
                    <div class="doctor-items">

                        @if (Model.Doctors != null)
                        {
                            @foreach (var doctor in Model.Doctors)
                            {
                                <div class="doctor-item">
                                    <div class="doctor-item-wrapper d-flex">
                                        <div class="doctor-img">
                                            <img src="~/assets/img/@doctor.PhotoPath" alt="">
                                        </div>
                                        <div class="doctor-info">
                                            <div class="doctor-name">@doctor.FullName</div>
                                            <div class="doctor-subtitle">
                                                @doctor.SubDescription
                                            </div>
                                            <div class="doctor-skill">
                                                @doctor.Qualification
                                            </div>
                                            <div class="view-appointment d-flex">
                                                <div class="view">
                                                    <a itemprop="url" asp-action="details" asp-controller="doctor" asp-route-id="@doctor.Id">View Profile</a>
                                                    <span class="line"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }

                        }

                        <div class="pagination d-flex">

                            @if (Model.Page > 1)
                            {
                                <div class="pagination-element">
                                    @{
                                        var prevPage = @Model.Page - 1;

                                        <div class="pagination-element">
                                            <a itemprop="url" asp-action="index" asp-controller="doctor" asp-route-page="@prevPage">
                                                <p> x </p>
                                            </a>
                                        </div>

                                    }
                                </div>
                            }

                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <div class="pagination-element">
                                    <a asp-action="index" asp-controller="doctor" asp-route-page="@i">@i</a>
                                </div>
                            }

                            @if (Model.PageCount != Model.Page)
                            {
                                <div class="pagination-element">
                                    @{
                                        var nextPage = @Model.Page + 1;

                                        <div class="pagination-element">
                                            <a itemprop="url" asp-action="index" asp-controller="doctor" asp-route-page="@nextPage">
                                                <p>></p>
                                            </a>
                                        </div>
                                    }
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- find-doctor section ends -->

</main>
