@using Syring1.Areas.Admin.ViewModels.HomeDepartment
@model HomeDepartmentIndexViewModel



<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Homedepartment</h4>
                        <a class="btn btn-primary" asp-action="create" asp-controller="homedepartment" asp-area="admin">CREATE homedepartment</a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Photo</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var homeDepartment in Model.HomeDepartments)
                                    {
                                        <tr>
                                            <td>@homeDepartment.Id</td>
                                            <td>@homeDepartment.Title</td>
                                            <td>@homeDepartment.Description</td>
                                            <td><img src="~/assets/img/@homeDepartment.PhotoPath" /></td>
                                            <td>
                                                <a class="btn btn-primary" asp-action="update" asp-controller="homedepartment" asp-area="admin" asp-route-id="@homeDepartment.Id">Update</a>
                                                <a class="btn btn-danger" onclick="confirm('Eminsinizmi?')" asp-action="delete" asp-controller="homedepartment" asp-area="admin" asp-route-id="@homeDepartment.Id">Delete</a>
                                                <a class="btn btn-info" asp-action="details" asp-controller="homedepartment" asp-area="admin" asp-route-id="@homeDepartment.Id">Details</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


